hfll/src/main/resources/testproperties.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://pushman.github.com/schema/testproperties"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://pushman.github.com/schema/testproperties"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xsi:schemaLocation="http://www.springframework.org/schema/beans ">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"
                schemaLocation="http://www.springframework.org/schema/tool/spring-tool-3.1.xsd"/>

    <xsd:element name="name">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:attribute name="que"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="set">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:group ref="beans:collectionElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="list">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:group ref="beans:collectionElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>